body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#weather-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: fit-content;
}